---
import CartIcon from "../components/CartIcon.svelte"; // Assuming CartIcon is a Svelte component
import Logo from "./Logo.astro";
---

<header class="sticky top-0 z-40">
  <div class="border-b bg-white/70 py-3 backdrop-blur-2xl">
    <nav class="container grid grid-cols-3 items-center">
      <a href="/">
        <span class="sr-only">Logo</span>
        <Logo />
      </a>
      <div class="justify-self-center">
        <span class="text-black dark:text-gray-400 text-4xl font-stretch-semi-condensed font-bold">Steffen's Sign & Design</span>
      </div>
      <div class="justify-self-end flex items-center gap-4">
        <a href="/events" class="text-gray-700 hover:text-primary-600 transition-colors duration-200 hidden md:block">Events</a>
        <CartIcon client:load />
      </div>
    </nav>
  </div>
</header>